body {
  background-color: navajowhite;
}

article.firstArticle {
  background-color: blue;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  color: yellow;
  line-height: 1.1em;
  padding: 2%;
  border: 25px groove orange;
  border-radius: 20% 0 20% 0;
}

article.secondArticle {
  background-color: white;
  font-family: ;
  font-size: ;
  color: ;
  line-height: ;
  padding: ;
  border: ;
  border-radius: ;
}

article.thirdArticle {
  background-color: red;
  font-family: ;
  font-size: ;
  color: ;
  line-height: ;
  padding: ;
  border: ;
  border-radius: ;
}

article.fourthArticle {
  background-color: yellow;
  font-family: ;
  font-size: ;
  color: ;
  line-height: ;
  padding: ;
  border: ;
  border-radius: ;
}

article.fifthArticle {
  background-color: orange;
  font-family: ;
  font-size: ;
  color: ;
  line-height: ;
  padding: ;
  border: ;
  border-radius: ;
}